h1{
font-size:2.3em;
text-align:center;
color: #000000;
}
div.scrollmenu{
  background-color:#6495ED;
overflow:auto;
white-space:nowrap;}

div.scrollmenu a {
  display:inline-block;
  color:black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover{
  background-color: #777;
}
  body {
    background-color: #87CEFA;
}
p {
    background-color: rgb(255,0,255);
}